@import '/src/theme/scss-vars.scss';

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle-zone {
    padding: 20px;
    max-width: 600px;
    max-height: 600px;

    .battle-cell {
        &.has-ship-part {
            background-color: greenyellow;
        }
        &.hit {
            background-color: red;
        }
        &.hidden {
            background-color: grey;
        }
    }
}

.battle-zone-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.battle-row {
    display: flex;
}

.battle-cell {
    width: 50px;
    height: 50px;
    border: 1px sandybrown solid;
    flex: 0 1 auto;
}

.preparing-board {
    .battle-cell {
        &.disabled {
            opacity: 0.3;
        }
    }
}

.ship-kinds {
    background-color: azure;
    width: 100%;
}

.ships-wrapper {
    border: 1px gold solid;
}

.ship {
    border: 1px rgba(85, 98, 98, 0.5) solid;
    margin: 12px;
    cursor: pointer;
    &.selected {
        border: 1px rgba(85, 98, 98, 1) solid;
    }
    &.ready {
        cursor: default;
        border: none;
        background-color: greenyellow;
    }
}
